.uploader {
    margin-top: 24px;
}

.upload-card {
    border-style: dashed;
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out 0s;
    padding-left: 35px;
    padding-right: 35px;
    width: 260px;
    height: 458px;
    border: 2px dashed rgba(22, 24, 35, 0.2);
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
        border: 2px dashed var(--primary);
    }
}

.div-namefile {
    font-family: proxima-semibold, Arial, Tahoma, PingFangSC, sans-serif, "Segoe UI Emoji", "Noto Emoji";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    max-width: 220px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.btn-cancel {
    box-sizing: border-box;
    appearance: none;
    min-width: 96px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-family: var(--tux-fontFamilyParagraph);
    font-weight: var(--tux-fontWeightSemibold);
    text-decoration: none;
    cursor: pointer;
    background-clip: padding-box;
    font-size: var(--tux-fontSizeP4);
    height: 28px;
    padding-inline: 11px;
    color: var(--tux-colorTextPrimary);
    background-color: var(--tux-colorBGSecondary);
    border-color: var(--tux-colorLineSecondary);
}

.box-btncancel {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    overflow: hidden;
    gap: 4px;
}

.text-btncancel {
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.progressbar {
    width: 80px;
    height: 80px;
}

.text-main {
    text-align: center;
    margin-top: 24px;

    span {
        box-sizing: border-box;
        margin-block: 0px;
        font-size: var(--tux-fontSizeP2);
        line-height: 1.5;
        font-family: var(--tux-fontFamilyParagraph);
        font-weight: var(--tux-fontWeightSemibold);
        color: var(--tux-colorTextPrimary);
    }
}

.text-sub {
    margin-top: 4px;
    margin-bottom: 24px;

    span {
        box-sizing: border-box;
        margin-block: 0px;
        font-size: var(--tux-fontSizeP4);
        line-height: 1.5;
        font-family: var(--tux-fontFamilyParagraph);
        font-weight: var(--tux-fontWeightRegular);
        color: var(--tux-colorTextSecondary);
    }
}

.text-video-info {
    list-style: none;
}

.text-video {
    margin-bottom: 6px;
    text-align: center;

    span {
        box-sizing: border-box;
        margin-block: 0px;
        font-size: var(--tux-fontSizeP4);
        line-height: 1.5;
        font-family: var(--tux-fontFamilyParagraph);
        font-weight: var(--tux-fontWeightRegular);
        color: var(--tux-colorTextTertiary);
    }
}

.file-select-button {
    margin-top: 32px;
    width: 100%;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    min-width: 96px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-family: var(--tux-fontFamilyParagraph);
    font-weight: var(--tux-fontWeightSemibold);
    text-decoration: none;
    cursor: pointer;
    background-clip: padding-box;
    width: 100%;
    font-size: var(--tux-fontSizeP3);
    height: 36px;
    padding-inline: 15px;
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.box-btn {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    overflow: hidden;
    gap: 6px;
}

.text-btn {
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.change-video-btn {
    margin-top: 18px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(22, 24, 35, 0.12);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 13px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.file {
    font-size: 12px;
    line-height: 17px;
    font-family: proxima-regular, Arial, Tahoma, PingFangSC, sans-serif, Arial, Tahoma;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 150px;
}

.file-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-changevideo {
    font-size: 12px;
    line-height: 17px;
    font-family: proxima-semibold, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    color: rgb(22, 24, 35);
    cursor: pointer;
}