.loading-form {
    margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0px;
    position: relative;
    min-height: 2000px;

    .loading-form-div {
        display: flex;
        margin-right: 68px;
        // padding-top: 14px;
    }

    .loading-form-avatar {
        width: 56px;
        height: 56px;
        flex: 0 0 56px;
        background: rgba(18, 18, 18, 0.03);
        border-radius: 100%;
        margin-right: 12px;
    }

    l.oading-form-v1 {
        padding-top: 10px;
        flex: 1 1 auto;
    }

    .loading-form-titlesub {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }

    .loading-form-sub {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        display: none;
    }

    .loading-form-subv1 {
        width: 200px;
        margin-bottom: 6px;
        max-width: 100%;
        height: 16px;
        background: rgba(22, 24, 35, 0.03);
        border-radius: 2px;
    }

    .loading-form-subv2 {
        width: 160px;
        max-width: 100%;
        height: 16px;
        background: rgba(22, 24, 35, 0.03);
        border-radius: 2px;
    }

    .loading-form-title-v1 {
        width: 478px;
        margin-bottom: 5px;
        margin-top: 15px;
        max-width: 100%;
        height: 16px;
        background: rgba(22, 24, 35, 0.03);
        border-radius: 2px;
    }

    .loading-form-title-v1 {
        width: 478px;
        margin-bottom: 0px;
        max-width: 100%;
        height: 16px;
        background: rgba(22, 24, 35, 0.03);
        border-radius: 2px;
    }
}