.divsidemask {
    position: relative;
    width: 356px;
    -webkit-flex: 0 0 356px;
    -ms-flex: 0 0 356px;
    flex: 0 0 356px
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-right: 12px;
    perspective-origin: right top;
    top: 60px;
    bottom: 0;
    width: 356px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    // z-index: 50;
    padding-right: 8px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &:hover {
        &::-webkit-scrollbar {
            width: 1;
            height: 0;
        }
    }
}

.content {
    flex-shrink: 0;
    padding: 20px 0 26px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    padding-left: 8px;
}

.div-content-menu {
    margin-bottom: 8px;
    padding: 0;
}

.div-content-frame {
    position: relative;
    padding: 20px 8px 24px 8px;
    margin: 0;

    p {
        color: rgba(22, 24, 35, .5);
        font-size: 16px;
        line-height: 22px;
        margin-block-end: 1em;
    }

    .btn-frame {
        min-width: 168px;
        min-height: 48px;
        width: 100%;
    }
}

.div-user-container {
    padding: 16px 0;
    color: rgba(22, 24, 35, .75);
    font-family: "IBM Plex Sans",
        "ProximaNova",
        "Arial",
        "Tahoma",
        "PingFangSC",
        "sans-serif";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;

    .p-user-recommend {
        padding: 0 8px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
    }

    .div-user-showmore {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 8px;
        margin-top: 8px;
        cursor: pointer;
    }

    .p-user-showmore {
        color: rgb(254, 44, 85);
        font-family: "IBM Plex Sans", "ProximaNova", "Arial", "Tahoma", "PingFangSC", "sans-serif";
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}

.div-discover-container {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
    width: 90%;



    .discover-div {
        display: flex;
        margin-bottom: 8px;

        span {
            color: rgba(22, 24, 35, .5);
            font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 17px;
            display: inline-block;
            margin-right: 6px;
            margin-top: 5px;
            cursor: pointer;
        }
    }

    .discover-link {
        color: rgba(22, 24, 35, .5);
        font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
        cursor: pointer;
        min-width: '100%';

        p {
            width: 100%;
        }
    }
}

.div-discover-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 8px 8px;

    .p-discover-recommend {
        color: rgba(22, 24, 35, 0.75);
        font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 16px;
    }
}



.div-content-frame,
.div-user-container,
.div-discover-container {
    &:before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, .12);
        transform: scaleY(.5);
        top: 0;
    }
}