 .list-videotoimage {
     margin-top: 24px;

     span {
         box-sizing: border-box;
         margin-block: 0px;
         font-size: var(--tux-fontSizeP3);
         line-height: 1.5;
         font-family: var(--tux-fontFamilyParagraph);
         font-weight: var(--tux-fontWeightSemibold);
         color: var(--tux-colorTextPrimary);
     }

     .draggable-video {
         position: relative;
         line-height: 0;
         padding: 6px;
         border: 1px solid rgba(22, 24, 35, 0.12);
         border-radius: 2px;
     }

     .draggable-container {
         display: flex;
         border: 2px solid rgba(22, 24, 35, 0.12);
         box-sizing: border-box;
         border-radius: 2px;

         img {
             width: 85.8px;
             height: 150px;
             object-fit: cover;
             opacity: 0.3;
             user-select: none;
         }

         .img-not {
             width: 85.8px;
             height: 150px;
             background-color: rgba(22, 24, 35, 0.03);
             object-fit: cover;
         }
     }

     .draggable-chosen-v2 {

         cursor: grab;
         position: absolute;
         top: 0px;
         left: 0px;
         box-sizing: content-box;
         border: 6px solid rgb(255, 255, 255);
         box-shadow: rgb(34 90 89 / 20%) 2px 4px 20px;
         border-radius: 8px;
     }

     .chosen-v2 {

         video {
             width: 85.8px;
             height: 150px;
             object-fit: cover;
         }
     }
 }

 .slider {
     z-index: 2;
     -webkit-appearance: none;
     position: absolute;
     width: 97%;
     height: 90%;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0;
     -webkit-transition: .2s;

     transition: opacity .2s;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 85.8px;
     height: 150px;
     cursor: pointer;
 }

 .slider::-moz-range-thumb {
     width: 85.8px;
     height: 150px;
     cursor: pointer;
 }